<%-include('header.ejs')-%>
<div class="box" id="heading">
    <h1><%= date %></h1>
</div>
<div class="box" id="heading"><h2><%= type %></h2></div>
<div class="box">

    <% for(var i = 0;i < toDos.length;i++){ %>
        <div class="item"><input type="checkbox">
            <p><%= toDos[i].item %></p></div>
    <% } %>
    <% if(type === "Work"){ %>
        <form class="item" action="/work" method="post">
            <input name="newTask" type="text" placeholder="New task" autocomplete="off">
            <button type="submit">+</button>
        </form>
    <% }else{ %>
        <form class="item" action="/" method="post">
            <input name="newTask" type="text" placeholder="New task" autocomplete="off">
            <button type="submit">+</button>
        </form>
    <% } %>
</div>
<%-include('footer.ejs')-%>